[submodule "images/onec-full"]
	path = images/onec-full
	url = https://github.com/TheDemonCat/onec-full.git
[submodule "images/onec-server"]
	path = images/onec-server
	url = https://github.com/TheDemonCat/onec-server.git
