[submodule "images/onec-full"]
	path = images/onec-full
	url = https://github.com/TheDemonCat/onec-full.git
[submodule "images/onec-server"]
	path = images/onec-server
	url = https://github.com/TheDemonCat/onec-server.git
[submodule "docker/onec-server-k8s"]
	path = docker/onec-server-k8s
	url = https://github.com/TheDemonCat/onec-server-k8s.git
[submodule "docker/onec-server"]
	path = docker/onec-server
	url = https://github.com/TheDemonCat/onec-server.git
