{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeonec.fullname" . }}-sa
  namespace: {{ .Values.Namespace }}
imagePullSecrets:
{{- range  .Values.imagePullSecrets}}
  - name: {{ . }}
{{- end }}
{{- end }}